#Footer
  #FooterContentWrapper
    #CopyrightNotice
      %span © 2010-2011 A Gamz LLC, DBA FindBigMail
    #FooterNavigationBar
      %ul
        %li{@bottom_nav_contact}= link_to @lang.footer.contact_us, @links.contact_us
        %li{@bottom_nav_privacy}= link_to @lang.footer.privacy_statement, @links.privacy_statement
        %li{@bottom_nav_conditions}= link_to @lang.footer.conditions_use, @links.conditions_of_use
        %li{@bottom_nav_about}= link_to @lang.footer.about_us, @links.about_us
    #FindBigMailSocialMedia
      = link_to image_tag('facebook_follow.png', :alt => @lang.footer.follow_facebook), "http://www.facebook.com/FindBigMail", :title => @lang.footer.follow_facebook
      = link_to image_tag('twitter_follow.png', :alt => @lang.footer.follow_twitter), "https://twitter.com/intent/user?screen_name=FindBigMail", :title => @lang.footer.follow_twitter
      = link_to image_tag('email_us.png', :alt => @lang.footer.email_us), "mailto:feedback@findbigmail.com", :title => @lang.footer.email_us