#PaymentButton
  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    %input{:name => "business", :type => "hidden", :value => "payments@findbigmail.com"}
    %input{:name => "cbt", :type => "hidden", :value => "FindBigMail"}
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
    %input{:name => "item_name", :type => "hidden", :value => "FindBigMail agamz.com email scan"}
    %input{:name => "hosted_button_id", :type => "hidden", :value => "JFV8YGLUYLFJ6"}
    %input{:name => "item_number", :type => "hidden", :value => "agamz.com"}
    %input{:name => "return", :type => "hidden", :value => "#{t('home_url')}/"}
    %input{:name => "cancel_return", :type => "hidden", :value => "#{t('home_url')}/"}
    %input{:name => "custom", :type => "hidden", :value => "no javascript"}
    %input{:name => "no_shipping", :type => "hidden", :value => "1"}
    %input{:name => "amount", :type => "hidden", :value => amount}
    %input{:name => "currency_code", :type => "hidden", :value => "USD"}
    %input.FBMButton{:alt => t('paypal.alt_text'),
      :style => "cursor: pointer; font-size: 18px; ", :type => "submit", :value => amount_text}
  %input{:name => "search_url", :type => "hidden", 
    :value => "#{t('home_url')}/#{path('searching')}?MyJob="}
= partial :js_parse_params
:javascript
  jQuery(document).ready(function() {
    var myJob = $.Q.MyJob;
    var payform = $('#PaymentButton');
    var returnUrl = payform.find('input[name=search_url]').val() + myJob;
    payform.find('input[name=return]').val(returnUrl);
    payform.find('input[name=cancel_return]').val(returnUrl);
    payform.find('input[name=custom]').val(myJob);
    payform.find('input[name=item_name]').val("FindBigMail " + $.Q.domain + " email scan");
  });
