%table#PricingTable
  %tbody
    %tr
      %td.Providers &nbsp;
      %td.Providers= image_tag "logo_small.png", :alt => "FindBigMail"
      %td.Providers= image_tag "google_small.png", :alt => "Gmail"
    %tr
      %th.ColOne.WhiteHeader= t('pricing.pricing_features')
      %th.PricingColumn= t('pricing.full_scan')
      %th.PricingColumn= t('pricing.extra_storage')
    %tr
      %td.ColOne= t('pricing.personal_gmail')
      %td= t('pricing.free')
      %td= t('pricing.five_dollars_per_year')
    %tr
      %td.ColOne= t('pricing.google_apps_gmail')
      %td $4.95
      %td= t('pricing.fifty_per_year_account')
    %tr
      %td.ColOne= t('pricing.all_emails_scanned')
      %td= image_tag "enabled.png", :alt => t('pricing.yes')
      %td= image_tag "disabled.png", :alt => t('pricing.no')
    %tr
      %td.ColOne= t('pricing.results_chart')
      %td= image_tag "enabled.png", :alt => t('pricing.yes')
      %td= image_tag "disabled.png", :alt => t('pricing.no')
    %tr
      %td.ColOne= t('pricing.email_result_summary')
      %td= image_tag "enabled.png", :alt => t('pricing.yes')
      %td= image_tag "disabled.png", :alt => t('pricing.no')
    %tr
      %td.ColOne= t('pricing.links_to_biggest_emails')
      %td= image_tag "enabled.png", :alt => t('pricing.yes')
      %td= image_tag "disabled.png", :alt => t('pricing.no')
    %tr
      %td.ColOne= t('pricing.label_emails')
      %td= image_tag "enabled.png", :alt => t('pricing.yes')
      %td= image_tag "disabled.png", :alt => t('pricing.no')
