- r = @lang.reviews
#ReviewsHeader
  #ReviewsRecommendedBy
    %h2.heading= r.recommended_by
    .QuoteImage= image_tag "lifehacker.png", :alt => "lifehacker"
    .Quote= "\"#{r.lifehacker}\""
    %br
    .RecommendedBy= image_tag "about.png", :alt => "About"
    .RecommendedBy= image_tag "makeuseof.png", :alt => "About"
    .RecommendedBy= image_tag "maketecheasier.png", :alt => "Make Tech Easier"
