#ConditionsOfUse
  %h1= @t.conditions_of_use_header
  %p= @t.conditions_of_use_1
  %p= @t.conditions_of_use_2
  %p= @t.conditions_of_use_3
  %p= @t.conditions_of_use_4
  %p= @t.conditions_of_use_5
  %p= @t.conditions_of_use_6