#FBMFAQ
  #FBMFAQContainer
    %h1= @t.header_faq
    .FrequentQuestion= link_to @t.imap_folders_limited, "##{@t.imap_folders_limited_anchor}"
    .FrequentQuestion= link_to @t.large_chat_histories, "##{@t.large_chat_histories_anchor}"
    .FrequentQuestion= link_to @t.remove_fbm_labels, "##{@t.remove_fbm_label_anchor}"
    .FrequentQuestion= link_to @t.remove_fbm_access, "##{@t.remove_fbm_access_anchor}"
    .FrequentQuestion= link_to @t.known_issues, "##{@t.known_issues_anchor}"
    .FrequentQuestion= link_to @t.cannot_scan, "##{@t.cannot_scan_anchor}"
    .FrequentQuestion= link_to @t.my_privacy, "##{@t.my_privacy_anchor}"
    .FrequentQuestion= link_to @t.scanned_folders, "##{@t.scanned_folders_anchor}"
    .FrequentQuestion= link_to @t.how_large_can_emails_be, "##{@t.how_large_can_emails_be_anchor}"
    .FrequentQuestion= link_to @t.modify_size_ranges, "##{@t.modify_size_ranges_anchor}"
    .FrequentQuestion= link_to @t.multiple_size_labels, "##{@t.multiple_size_labels_anchor}"
    .FrequentQuestion= link_to @t.emails_with_label_size, "##{@t.emails_with_label_size_anchor}"
    .FrequentQuestion= link_to @t.remove_labels, "##{@t.remove_labels_anchor}"
    .FrequentQuestion= link_to @t.delete_large_labeled_messages, "##{@t.delete_large_labeled_messages_anchor}"
#FAQAnswers
  %div{:id => @t.imap_folders_limited_anchor, :class => "FAQAnswer"}
    %h2= @t.imap_folders_limited
    %p= @t.imap_folders_limited_answer_1 % link_to(@t.imap_folders_limited_answer_1_link_label, "#{@links.faq}##{@t.scanned_folders_anchor}")
    %p= @t.imap_folders_limited_answer_2
    %p= @t.imap_folders_limited_answer_3 % link_to(@t.imap_folders_limited_answer_3_link_label, @t.imap_folders_limited_answer_3_link)
    = link_to image_tag('dnl.png', :alt => @t.imap_folders_limited_alt_text), "https://mail.google.com/mail/?shva=1#settings/fwdandpop"
    %p= @t.imap_folders_limited_answer_4
  %div{:id => @t.large_chat_histories_anchor, :class => "FAQAnswer"}
    %h2= @t.large_chat_histories
    %p= @t.large_chat_histories_answer_1 % link_to(@t.large_chat_histories_answer_1_link_label, @t.large_chat_histories_answer_1_link)
    %p= @t.large_chat_histories_answer_2
    %p= @t.large_chat_histories_answer_3
  %div{:id => @t.remove_fbm_label_anchor, :class => "FAQAnswer"}
    %h2= @t.remove_fbm_labels
    %p= @t.remove_fb_labels_answer_1
    %p= @t.remove_fb_labels_answer_2 % link_to(@t.remove_fb_labels_answer_2_link_label, @t.remove_fb_labels_answer_2_link)
    %p= @t.remove_fb_labels_answer_3 % link_to(@t.remove_fb_labels_answer_3_link_label, "#{@links.faq}##{@t.remove_fbm_access_anchor}")
  %div{:id => @t.remove_fbm_access_anchor, :class => "FAQAnswer"}
    %h2= @t.remove_fbm_access
    %p= @t.remove_fbm_access_answer_1
    %p= @t.remove_fbm_access_answer_2
    %p= @t.remove_fbm_access_answer_3
    %p= @t.remove_fbm_access_answer_4
    %p= @t.remove_fbm_access_answer_5
  %div{:id => @t.known_issues_anchor, :class => "FAQAnswer"}
    %h2= @t.known_issues
    %p= @t.known_issues_answer_1 % link_to(@t.known_issues_answer_1_link_label, "#{@links.faq}##{@t.cannot_scan_anchor}")
    %p= @t.known_issues_answer_2 % [link_to(@t.known_issues_answer_2_link_label_1, @t.known_issues_answer_2_link_1), link_to(@t.known_issues_answer_2_link_label_2, "#{@links.faq}##{@t.scanned_folders_anchor}")]
    %p= @t.known_issues_answer_3
  %div{:id => @t.cannot_scan_anchor, :class => "FAQAnswer"}
    %h2= @t.cannot_scan
    %p= @t.cannot_scan_answer_1
    %ul
      %li= @t.cannot_scan_answer_1_item_1
      %li= @t.cannot_scan_answer_1_item_2
    %p= @t.cannot_scan_answer_2
    %p= @t.cannot_scan_answer_3
    %p= @t.cannot_scan_answer_4
    %ul
      %li= link_to @t.cannot_scan_answer_4_item_1, @t.cannot_scan_answer_4_item_1_link
      %li= link_to @t.cannot_scan_answer_4_item_2, @t.cannot_scan_answer_4_item_2_link
    %p= @t.cannot_scan_answer_5
  %div{:id => @t.my_privacy_anchor, :class => "FAQAnswer"}
    %h2= @t.my_privacy
    %p= @t.my_privacy_answer_1
    %ul
      %li= @t.my_privacy_answer_1_item_1
      %li= @t.my_privacy_answer_1_item_2 % [link_to(@t.my_privacy_answer_1_item_2_link_label_1, @t.my_privacy_answer_1_item_2_link), link_to(@t.my_privacy_answer_1_item_2_link_label_2, @links.contact_us)]
      %li= @t.my_privacy_answer_1_item_3
      %li= @t.my_privacy_answer_1_item_4
    %p= @t.my_privacy_answer_2 % link_to(@t.my_privacy_answer_2_link_label, "https://www.google.com/accounts/IssuedAuthSubTokens")
  %div{:id => @t.scanned_folders_anchor, :class => "FAQAnswer"}
    %h2= @t.scanned_folders
    %p= @t.scanned_folders_answer_1
    %p= @t.scanned_folders_answer_2
    %p= @t.scanned_folders_answer_3
  %div{:id => @t.how_large_can_emails_be_anchor, :class => "FAQAnswer"}
    %h2= @t.how_large_can_emails_be
    %p= @t.how_large_can_emails_be_answer_1
    %p= @t.how_large_can_emails_be_answer_2 % link_to(@t.how_large_can_emails_be_answer_2_link_label, @t.how_large_can_emails_be_answer_2_link)
    %p= @t.how_large_can_emails_be_answer_3
  %div{:id => @t.modify_size_ranges_anchor, :class => "FAQAnswer"}
    %h2= @t.modify_size_ranges
    %p= @t.modify_size_ranges_answer_1 % link_to(@t.modify_size_ranges_answer_1_link_label, @links.contact_us)
  %div{:id => @t.multiple_size_labels_anchor, :class => "FAQAnswer"}
    %h2= @t.multiple_size_labels
    %p= @t.multiple_size_labels_answer_1
  %div{:id => @t.emails_with_label_size_anchor, :class => "FAQAnswer"}
    %h2= @t.emails_with_label_size
    %p 
      = @t.emails_with_label_size_answer_1_item_1
      %br/
      = @t.emails_with_label_size_answer_1_item_2
      %br/
      = @t.emails_with_label_size_answer_1_item_3
    %p= @t.emails_with_label_size_answer_2
  %div{:id => @t.remove_labels_anchor, :class => "FAQAnswer"}
    %h2= @t.remove_labels
    %p= @t.remove_labels_answer_1 % link_to(@t.remove_labels_answer_1_link_label, @t.remove_labels_answer_1_link)
  %div{:id => @t.delete_large_labeled_messages_anchor, :class => "FAQAnswer"}
    %h2= @t.delete_large_labeled_messages
    %p= @t.delete_large_labeled_messages_answer_1 % link_to(@t.delete_large_labeled_messages_answer_1_link_label, @t.delete_large_labeled_messages_answer_1_link)