#PrivacyStatementArea
  %h1= @t.privacy_statement_header
  %p= @t.privacy_statement_1
  %p= @t.privacy_statement_2
  %p= @t.privacy_statement_3
  %p= @t.privacy_statement_4
  %p= @t.privacy_statement_5